/* Cascading Style Sheets */

main {
    background-color: #d7e3fa;
}

section {
    background-color: #ffffff;
}

h1 {
    color: #1b212c;
    font-size: 32px;
    font-family: 'Lato', sans-serif;}

p {
    color: #5e636b;
    font-size: 20px;
    font-family: 'Lato', sans-serif;}